<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Rob.EventSourcing.Test" connectionString="Server=localhost;Database=Rob.EventSourcing.Tests;User Id=sa;Password=EventSourceT3st!"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
