<configuration>
  <SqlEventStore>
    <DbConnectionString>Server={server name or ip};Database=InexRef.EventSourcing.Tests;User Id=sa;Password=EventSourceT3st!</DbConnectionString>
  </SqlEventStore>
</configuration>