USE [master]
GO
/****** Object:  Database [Rob.ValuationMonitoring]    Script Date: 28/08/2017 16:24:55 ******/
CREATE DATABASE [Rob.ValuationMonitoring] 

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Rob.ValuationMonitoring].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Rob.ValuationMonitoring]
GO
/****** Object:  UserDefinedTableType [dbo].[eventdatamodel_list_type]    Script Date: 28/08/2017 16:24:55 ******/
CREATE TYPE [dbo].[eventdatamodel_list_type] AS TABLE(
	[AggregateId] [nvarchar](255) NOT NULL,
	[AggregateName] [nvarchar](255) NOT NULL,
	[AggregateSequenceNumber] [int] NOT NULL,
	[BatchId] [uniqueidentifier] NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
	[Metadata] [nvarchar](max) NOT NULL
)
GO
/****** Object:  Table [dbo].[EventFlow]    Script Date: 28/08/2017 16:24:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventFlow](
	[GlobalSequenceNumber] [bigint] IDENTITY(1,1) NOT NULL,
	[BatchId] [uniqueidentifier] NOT NULL,
	[AggregateId] [nvarchar](255) NOT NULL,
	[AggregateName] [nvarchar](255) NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
	[Metadata] [nvarchar](max) NOT NULL,
	[AggregateSequenceNumber] [int] NOT NULL,
 CONSTRAINT [PK_EventFlow] PRIMARY KEY CLUSTERED 
(
	[GlobalSequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ReadModel-LatestUnauditedPrice]    Script Date: 28/08/2017 16:24:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReadModel-LatestUnauditedPrice](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ValuationLineId] [nvarchar](64) NOT NULL,
	[ValuationLineName] [nvarchar](254) NOT NULL,
	[ValuationLineNameEffectiveDateTime] [datetime2](7) NOT NULL,
	[UnauditedPrice] [decimal](19, 4) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[EffectiveDateTime] [datetime2](7) NOT NULL,
	[CreateTime] [datetimeoffset](7) NOT NULL,
	[UpdatedTime] [datetimeoffset](7) NOT NULL,
	[SequenceNumber] [int] NOT NULL,
 CONSTRAINT [PK_ReadModel-LatestUnauditedPrice] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SchemaVersions]    Script Date: 28/08/2017 16:24:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SchemaVersions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ScriptName] [nvarchar](255) NOT NULL,
	[Applied] [datetime] NOT NULL,
 CONSTRAINT [PK_SchemaVersions_Id] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[SchemaVersions] ON 

GO
INSERT [dbo].[SchemaVersions] ([Id], [ScriptName], [Applied]) VALUES (1, N'EventStores.Scripts.0001 - Create table EventFlow.sql', CAST(N'2017-08-20 17:39:16.167' AS DateTime))
GO
INSERT [dbo].[SchemaVersions] ([Id], [ScriptName], [Applied]) VALUES (2, N'EventStores.Scripts.0002 - Create eventdatamodel_list_type.sql', CAST(N'2017-08-20 17:39:16.237' AS DateTime))
GO

/****** Object:  Table [dbo].[EventFlowSnapshots]    Script Date: 28/08/2017 18:59:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventFlowSnapshots](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[AggregateId] [nvarchar](128) NOT NULL,
	[AggregateName] [nvarchar](128) NOT NULL,
	[AggregateSequenceNumber] [int] NOT NULL,
	[Data] [nvarchar](max) NOT NULL,
	[Metadata] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_EventFlowSnapshots] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO


GO
SET IDENTITY_INSERT [dbo].[SchemaVersions] ON 

GO
INSERT [dbo].[SchemaVersions] ([Id], [ScriptName], [Applied]) VALUES (3, N'SnapshotStores.Scripts.0001 - Create EventFlowSnapshots.sql', CAST(N'2017-08-28 18:59:12.417' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SchemaVersions] OFF
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_EventFlowSnapshots_AggregateId_AggregateSequenceNumber]    Script Date: 28/08/2017 18:59:48 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_EventFlowSnapshots_AggregateId_AggregateSequenceNumber] ON [dbo].[EventFlowSnapshots]
(
	[AggregateName] ASC,
	[AggregateId] ASC,
	[AggregateSequenceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

SET IDENTITY_INSERT [dbo].[SchemaVersions] OFF
GO
USE [master]
GO
