SELECT * FROM [Rob.ValuationMonitoring].[dbo].[EventFlow]
SELECT * FROM [Rob.ValuationMonitoring].[dbo].[EventFlowSnapshots]
SELECT * FROM [Rob.ValuationMonitoring].[dbo].[ReadModel-LatestUnauditedPrice]
SELECT * FROM [Rob.ValuationMonitoring].[dbo].[ReadModel-LatestPriceOnly]
/*
TRUNCATE TABLE [Rob.ValuationMonitoring].[dbo].[EventFlow]
TRUNCATE TABLE [Rob.ValuationMonitoring].[dbo].[EventFlowSnapshots]
TRUNCATE TABLE [Rob.ValuationMonitoring].[dbo].[ReadModel-LatestUnauditedPrice]
TRUNCATE TABLE [Rob.ValuationMonitoring].[dbo].[ReadModel-LatestPriceOnly]
*/